.advantages {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  height: 416px;
  padding-top: 36px;
  padding-left: 30px;
  padding-bottom: 8px;
}

.advantages__item {
  display: block;
  margin: 0;
  margin-bottom: 28px;
  padding: 0;
  width: 210px;
}

.advantages__title {
  display: block;
  margin-bottom: 15px;
  font-size: @medium-font;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
  text-transform: uppercase;
  color: @black;
}

.advantages__description {
  display: block;
  margin: 0;
  padding: 0;
  font-size: @little-font;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  text-transform: uppercase;
  color: @middle-brown;
}

.advantages__item-home {
  content: "";
  position: absolute;
  top: 27px;
  left: -18px;
  width: 40px;
  height: 38px;
  fill: #81b3d2;
}

.advantages__item-souvenires {
  content: "";
  position: absolute;
  top: 157px;
  left: -16px;
  width: 32px;
  height: 38px;
  fill: #81b3d2;
}

.advantages__item-meal {
  content: "";
  position: absolute;
  top: 273px;
  left: -22px;
  width: 40px;
  height: 35px;
  fill: #81b3d2;
}

@media (min-width: @tablet-width) {
  .advantages {
    display: grid;
    grid-template-columns: 256px 256px 256px;
    grid-template-rows: 330px;
    height: 330px;
    margin: 0;
    padding: 0;
    background-color: @white;
  }

  .advantages__item {
    width: 170px;
    height: 100px;
    margin: 158px 40px 10px 45px;
    padding: 0;
  }

  .advantages__title {
    display: block;
    margin: 0;
    margin-bottom: 23px;
    padding: 0;
    font-size: @large-font;
    text-align: center;
  }

  .advantages__description {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: @little-font;
    text-align: center;
  }

  .advantages__item-home {
    content: "";
    position: absolute;
    top: 59px;
    left: 91px;
    width: 75px;
    height: 72px;
  }

  .advantages__item-souvenires {
    content: "";
    position: absolute;
    top: 57px;
    left: 608px;
    width: 77px;
    height: 75px;
  }

  .advantages__item-meal {
    content: "";
    position: absolute;
    top: 63px;
    left: 345px;
    width: 77px;
    height: 75px;
    padding-bottom: 10px;
  }
}

@media (min-width: @desktop-width) {
  .advantages {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 330px;
    margin: 0;
    padding: 0;
  }

  .advantages__item {
    width: 400px;
    height: 330px;
    margin: 0;
    padding: 159px 30px 10px 30px;
  }

  .advantages__description {
    width: 300px;
    margin: 0;
    padding: 0;
  }

  .advantages__description--souvenires {
    width: 190px;
  }

  .advantages__item-home {
    content: "";
    position: absolute;
    top: 60px;
    left: 161px;
    width: 75px;
    height: 72px;
  }

  .advantages__item-souvenires {
    top: 57px;
    left: 968px;
    width: 77px;
    height: 75px;
  }

  .advantages__item-meal {
    content: "";
    position: absolute;
    top: 62px;
    left: 563px;
    width: 77px;
    height: 75px;
  }
}
