.button {
  display: block;
  margin: auto;
  width: 280px;
  height: 58px;

  font-size: @large-font;
  font-weight: 700;
  line-height: 58px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: @blue;
  border: none;
}

.button:hover {
  background-color: @dark-blue;
}

.button:focus {
  background-color: @very-dark-blue;
  color: rgba(255, 255, 255, 0.3);
}

@media (min-width: @tablet-width) {
  .button {
    width: 458px;
    height: 58px;
    font-size: @large-font;
  }

  .button__form {
    width: 324px;
    height: 58px;
    margin-bottom: 50px;
  }
}
