.contacts {
  position: relative;
  min-width: 286px;
  margin-top: 24px;
  padding: 20px 18px 28px;
  border: none;
}

.contacts--borders::before {
  content: "";
  position: absolute;
  display: block;
  top: -20px;
  left: 1px;
  z-index: 10;

  width: 320px;
  height: 1px;
  background-color: @light-black;
}

.contacts--borders::after {
  content: "";
  position: absolute;
  display: block;
  top: 266px;
  left: 1px;
  z-index: 10;

  width: 320px;
  height: 1px;
  background-color: @light-black;
}

.contacts__legend {
  font-size: @medium-font;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: @black;
}

.contacts__wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 96px;
  margin: 0;
  padding: 0;
}

.contacts__label {
  position: relative;
  width: 165px;
  height: 20px;
  margin: 0;
  margin-left: 20px;
  padding: 0;
  font-size: @little-font;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  text-transform: uppercase;
  color: @black;
}

.contacts__input {
  position: relative;
  width: 222px;
  height: 58px;
  margin-top: 14px;
  padding-left: 20px;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
  color: @black;
  border: none;
  background-color: @grey;
}

.contacts__label--tube::before {
  content: "";
  position: absolute;
  top: 34px;
  left: 200px;
  display: block;
  z-index: 5;
  width: 58px;
  height: 58px;
  background-color: @middle-white;
}

.contacts__label--tube::after {
  content: "";
  position: absolute;
  top: 54px;
  left: 222px;
  z-index: 10;
  display: block;
  width: 52px;
  height: 52px;
  background-repeat: no-repeat;
  background-image: url("../img/icon-phone.svg");
}

.contacts__input:hover {
  background-color: @light-white;
}

.contacts__input:active,
.contacts__input:focus {
  background-color: @white;
  outline: 4px solid @light-white;
  outline-offset: -4px;
}

.contacts__label--envelope::before {
  content: "";
  position: absolute;
  top: 34px;
  left: 200px;
  display: block;
  z-index: 10;
  width: 58px;
  height: 58px;
  background-color: @middle-white;
}

.contacts__label--envelope::after {
  content: "";
  position: absolute;
  top: 55px;
  left: 222px;
  z-index: 10;
  display: block;
  width: 52px;
  height: 52px;
  background-repeat: no-repeat;
  background-image: url("../img/icon-mail.svg");
}

@media (min-width: @tablet-width) {
  .contacts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 768px;
    margin-top: 62px;
    padding: 20px 20px 1px 59px;
  }

  .contacts__wrap {
    min-height: 99px;
  }

  .contacts__legend {
    width: 280px;
    margin: 0;

    font-size: @large-font;
    text-align: center;
  }

  .contacts__label {
    display: inline-block;
    height: 20px;
    padding-top: 6px;
  }

  .contacts__input {
    display: block;
    width: 600px;
    height: 58px;
    margin-top: 18px;
  }

  .contacts__label--tube::before {
    content: "";
    position: absolute;
    top: 38px;
    left: 570px;
    width: 58px;
    height: 58px;
  }

  .contacts__label--tube::after {
    content: "";
    position: absolute;
    top: 57px;
    left: 590px;
  }

  .contacts__label--envelope::before {
    content: "";
    position: absolute;
    top: 38px;
    left: 570px;
  }

  .contacts__label--envelope::after {
    content: "";
    position: absolute;
    top: 60px;
    left: 590px;
  }

  .contacts--borders::before {
    content: "";
    position: absolute;
    display: block;
    top: 11px;
    left: 60px;
    width: 125px;
    height: 1px;
  }

  .contacts--borders::after {
    content: "";
    position: absolute;
    display: block;
    top: 11px;
    left: 581px;
    width: 125px;
    height: 1px;
  }
}

@media (min-width: @desktop-width) {
  .contacts__wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 54px 1px 1px 40px;
  }

  .contacts {
    width: auto;
  }

  .contacts__legend {
    margin-left: 400px;
    text-align: left;
  }

  .contacts__wrap-wrap {
    display: flex;
    flex-direction: row;
    width: 500px;
    margin-top: 1px;
    margin-left: 30px;
    height: 65px;
  }

  .contacts__input {
    width: 260px;
    margin-top: 0.1px;
    margin-left: 15px;
    padding-left: 20px;
  }

  .contacts--borders::before {
    content: "";
    position: absolute;
    top: 11px;
    left: 120px;
    width: 274px;
    height: 1px;
  }

  .contacts--borders::after {
    content: "";
    position: absolute;
    display: block;
    top: 11px;
    left: 800px;
    width: 274px;
    height: 1px;
  }

  .contacts__tel1 {
    display: none;
  }

  .contacts__tel-label {
    display: flex;
    flex-direction: row;
    width: 72px;
    height: 25px;
    padding-top: 18px;
  }

  .contacts__email-label {
    display: inline-block;
    width: 151px;
    height: 20px;
    margin-left: 40px;
    padding-top: 18px;
  }

  .contacts__label--tube::before {
    content: "";
    position: absolute;
    top: 0.1px;
    left: 342px;
  }

  .contacts__label--tube::after {
    content: "";
    position: absolute;
    top: 20px;
    left: 363px;
  }

  .contacts__label--envelope::before {
    content: "";
    position: absolute;
    top: 0.1px;
    left: 423px;
  }

  .contacts__label--envelope::after {
    content: "";
    position: absolute;
    top: 22px;
    left: 444px;
  }
}
