.discription {
  height: 272px;
  padding: 1px 11px 21px;
  font-weight: 700;
  border: none;
}

.discription__legend {
  width: 290px;
  padding-top: 20px;
  font-size: @medium-font;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: @black;
}

.discription__wrap {
  width: 270px;
  height: 165px;
  padding: 13px 15px 20px 5px;
}

.discription__textarea {
  width: 280px;
  height: 165px;
  font-size: @medium-font;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
  text-transform: none;
  color: @black;
  background-color: @white;
  border: none;
}

.discription__textarea:-moz-placeholder {
  color: @black;
}

.discription__textarea::-moz-placeholder {
  color: @black;
  opacity: 1;
}

.discription__textarea:-ms-input-placeholder {
  color: @black;
}

.discription__textarea::-webkit-input-placeholder {
  color: @black;
}

.discription__textarea::placeholder {
  height: 136px;
  padding: 12px 20px 12px 20px;
  font-size: @medium-font;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
  color: @black;
  background-color: @grey;
}

.discription__textarea:hover::placeholder {
  background-color: @light-white;
}

.discription__textarea:active::placeholder,
.discription__textarea:focus::placeholder {
  background-color: @white;
  outline: 4px solid @light-white;
  outline-offset: -4px;
  border: none;
}

@media (min-width: @tablet-width) {
  .discription {
    position: relative;
    order: 5;
    width: 764px;
    padding: 42px 1px 15px 52px;
    border: none;
  }

  .discription__legend {
    width: 298px;
    margin: auto;
    padding-top: 2px;
    padding-right: 47px;
    font-size: @large-font;
    text-align: center;
  }

  .discription--borders::before {
    content: "";
    position: absolute;
    display: block;
    top: -16px;
    left: 60px;
    width: 120px;
    height: 1px;
    background-color: @white-grey;
  }

  .discription--borders::after {
    content: "";
    position: absolute;
    display: block;
    top: -16px;
    left: 581px;
    width: 120px;
    height: 1px;
    background-color: @white-grey;
  }

  .discription__wrap {
    position: relative;
    width: 630px;
    height: 165px;
    margin-top: 4px;
    padding: 5px 15px 20px 5px;
    font-size: @medium-font;
    font-weight: 700;
    line-height: 35px;
    text-align: left;
    text-transform: none;
    color: @black;
  }

  .discription__label--quadrate::after {
    content: "* — обязательные поля";
    position: absolute;
    top: 240px;
    left: 493px;
    display: block;
    z-index: 5;
    width: 170px;
    height: 20px;
    font-size: @little-font;
    font-weight: 400;
    text-transform: uppercase;
    color: @middle-brown;
  }

  .discription__textarea {
    width: 649px;
    height: 171px;
    background-color: @white;
  }

  .discription__textarea::placeholder {
    height: 131px;
    padding: 18px 20px 12px 20px;
  }
}

@media (min-width: @desktop-width) {
  .discription {
    position: relative;
    width: 1199px;
    padding: 45px 55px 20px 55px;
  }

  .discription__legend {
    width: 340px;
    margin: auto;
    padding-right: 1px;
    text-align: center;
  }

  .discription--borders::before {
    top: -17px;
    left: 120px;
    width: 274px;
  }

  .discription--borders::after {
    top: -17px;
    left: 800px;
    width: 274px;
  }

  .discription__label--quadrate::after {
    content: "* — обязательные поля";
    top: 238px;
    left: 861px;
  }

  .discription__wrap {
    width: 1050px;
    padding-left: 60px;
  }

  .discription__textarea {
    width: 979px;
    height: 160px;
  }

  .discription__textarea::placeholder {
    height: 125px;
    padding: 18px 20px 12px 20px;
  }
}
