.page-header {
  position: relative;
  background-color: @white;
}

.page-header__wrap {
  position: relative;
  height: 58px;
  background-color: @white;
}

.page-header__logo {
  position: absolute;
  left: 110px;
  z-index: 2;
}

.page-header__button {
  content: "";
  position: absolute;
  top: 13px;
  left: 280px;
  z-index: 2;
  width: 28px;
  height: 28px;
  background-color: transparent;

  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../img/icon-menu.svg");

  border: none;
}
