.page-header {
  position: relative;
  background-color: @white;
}

.page-header__wrap {
  position: relative;
  height: 58px;
  background-color: @white;
}

.page-header__logo {
  position: absolute;
  left: 110px;
  z-index: 2;
}

.page-header__button {
  content: "";
  position: absolute;
  top: 13px;
  left: 280px;
  z-index: 2;
  width: 28px;
  height: 28px;
  background-color: transparent;

  background-repeat: no-repeat;
  background-position: center center;
  border: none;
}

.page-header__button--burger {
  background-image: url("../img/icon-menu.svg");
  border: none;
}

.page-header__button--cross {
  background-image: url("../img/icon-cross.svg");
  border: none;
}

.page-header__button--burger:hover {
  opacity: 0.6;
}

.page-header__button--burger:active {
  opacity: 0.3;
}

.page-header__button--cross:hover {
  opacity: 0.6;
  border: none;
}

.page-header__button--cross:active {
  opacity: 0.3;
  border: none;
}

@media (min-width: @tablet-width) {
  .page-header__wrap {
    height: 0.1px;
  }

  .page-header__logo {
    top: -56px;
    left: 334px;
  }

  .page-header__button {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .page-header__logo {
    top: -58px;
    left: 508px;
    width: 187px;
    height: 97px;
  }


  .page-header__logo-desktop {
    width: 187px;
    height: 97px;
  }

  .page-header__button {
    display: none;
  }
}
