@blue: #81b3d2;
@white: #ffffff;
@black: #000000;
@brown: #766357;
@middle-brown: #333333;
@dark-blue: #669ce0;
@very-dark-blue:#5496bd;
@grey-blue:#5c6870;
@grey:#f2f2f2;
@light-white: #e5e5e5;
@middle-white:#e6e6e6;
@firm-grey:#d5d5d5;
@more-grey:#eaeaea;
@white-grey:#dbdbdb;
@middle-grey:rgba(66, 64, 64, 0.2);
@light-grey: rgba(255, 255, 255, 0.3);
@light-brown:rgba(242, 242, 242, 0.98);
@less-little-brown:rgba(255, 255, 255, 0.3);
@near-little-brown:rgba(255, 255, 255, 0.6);
@more-little-brown:rgba(255, 255, 255, 0.98);
@super-little-brown:rgba(1, 1, 1, 0.001);
@light-black: rgba(1, 1, 1, 0.1);
@middle-black: rgba(1, 1, 1, 0.2);
@more-middle-black:rgba(1, 1, 1, 0.3);
@more-little-black:rgba(1, 1, 1, 0.05);
@about-black:rgba(1, 1, 1, 0.6);
@little-black: rgba(0, 0, 0, 0.2);
@more-black: rgba(0, 0, 0, 0.3);
@middle-blue:rgba(0, 1, 1, 0.2);
@little-font: 14px;
@medium-font: 18px;
@large-font: 21px;
@big-font: 30px;
@tablet-width: 768px;
@desktop-width: 1200px;
@retina-dpi: 144dpi;
@retina-dppx: 1.5dppx;
